@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(230, 230, 230);
  font-size: 1.3rem;
  color: rgb(37, 27, 0);
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  background-color: rgb(51, 42, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 2em;
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

header .brand-name {
  font-size: 1.5em;
  color: gold;
  font-weight: bold;
  font-family: fantasy;
}
header img {
  display: none;
  height: 94%;
  object-fit: cover;
}

header li a {
  font-size: 0.8em;
  padding-left: 2em;
  font-weight: thin;
}
main {
  /* position: relative; */
  margin: auto;
  margin-top: 10rem;
  width: 95vw;
  max-width: 900px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 6rem;
}

input {
  height: 1.9em;
  padding-left: 15px;
  display: block;
  margin-right: 2rem;
  width: 50%;
  min-width: 200px;
  font-size: 0.8em;
}

input[type="submit"] {
  text-align: center;
  background-color: gold;
  font-size: 1.1rem;
  border: 2px solid rgb(78, 67, 0);
  color: rgb(78, 67, 0);
}

.product-qualities {
  padding: 1rem;
  padding-top: 3rem;
  display: flex;
  min-height: 350px;
  flex-direction: column;
  align-items: center;
}
.quality {
  margin: 1rem 0;
  text-align: center;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px 0px seagreen;
}
.quality:hover {
  background-color: rgba(218, 165, 32, 0.336);
  color: rgb(15, 19, 0);
}
.list-item-inline {
  display: inline;
}
#how-it-works {
  width: fit-content;
  margin: 2rem auto;
  height: max-content;
  text-align: center;
}

.product-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, calc(100% / 3));
  margin: 5rem auto;
}

.product {
  display: grid;
  grid-template-columns: auto 75% 1fr;
  background: rgb(201, 201, 201);
  grid-template-rows: auto 1fr;
  color: rgb(32, 17, 0);
}

.product .img-container {
  grid-column: 1/-1;
  height: 18rem;
  width: inherit;
  overflow: hidden;
}
.product img {
  transition-duration: 1s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product img:hover {
  transform: scale(1.2);
}
.product p,
.product .price {
  padding: 1rem;
}
.product p {
  padding-left: 0.4rem;
  grid-column: 1/3;
}
.product .price {
  background-color: rgb(226, 255, 217);
  justify-self: end;
  padding-right: 0.4rem;
  grid-column: 3/4;
  grid-row: 2;
}

footer {
  height: 8rem;
  padding: 2rem 2rem;
  color: rgb(184, 184, 184);
  background-color: rgb(85, 85, 85);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

footer li {
  padding: 1rem;
  font-size: 1em;
}
footer p {
  font-size: medium;
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  color: rgb(255, 230, 167);
}

.space {
  height: 5rem;
}


@media screen and (max-width: 800px) {
  .product-container {
    grid-template-columns: minmax(275px, 75%);
    justify-content: center;
  }

  header {
    flex-direction: column;
  }
}
